services:
  onlyoffice:
    image: onlyoffice/documentserver
    env_file:
     - ./.env
    volumes:
      - document_data:/var/www/onlyoffice/Data
      - document_log:/var/log/onlyoffice
      - document_cache:/var/lib/onlyoffice
      - document_files:/var/www/onlyoffice/DocumentServer/data
      - document_fonts:/usr/share/fonts/truetype/custom
      - document_forgotten:/var/lib/onlyoffice/documentserver/App_Data/cache/files/forgotten
    environment:
      - JWT_ENABLED=true
      - JWT_SECRET=${JWT_SECRET}
      - JWT_HEADER=Authorization
      - DB_TYPE=postgres
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=${POSTGRES_DB}
      - DB_USER=${POSTGRES_USER}
      - DB_PWD=${DB_PASSWORD}
      - REDIS_SERVER_HOST=redis
      - REDIS_SERVER_PORT=6379
    networks:
      - internal
      - traefik-public
    labels:
      - traefik.enable=${ENABLE_TRAEFIK:-false}
      - traefik.docker.network=traefik-public
      - traefik.http.routers.onlyoffice.rule=Host(`${CUSTOM_SUBDOMAIN:-onlyoffice}.${BASE_DOMAIN}`)
      - traefik.http.routers.onlyoffice.entrypoints=web
      - "${HTTPS_MIDDLEWARE:+traefik.http.routers.onlyoffice.middlewares=${HTTPS_MIDDLEWARE}}"
      - traefik.http.routers.onlyoffice-secure.rule=Host(`${CUSTOM_SUBDOMAIN:-onlyoffice}.${BASE_DOMAIN}`)
      - traefik.http.routers.onlyoffice-secure.entrypoints=${HTTPS_ENTRYPOINT:-}
      - traefik.http.routers.onlyoffice-secure.tls=${ENABLE_TLS:-}"
      - traefik.http.routers.onlyoffice-secure.tls.certresolver=${TLS_RESOLVER:-}
      - traefik.http.services.onlyoffice.loadbalancer.server.port=80
      - "${REDIRECT_SCHEME:+traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=${REDIRECT_SCHEME}}"
      - "${REDIRECT_PERMANENT:+traefik.http.middlewares.redirect-to-https.redirectscheme.permanent=${REDIRECT_PERMANENT}}"
    depends_on:
      - db
      - redis

  db:
    image: postgres:13-alpine
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    networks:
      - internal

  redis:
    image: redis:6-alpine
    volumes:
      - redis_data:/data
    command: redis-server --requirepass ${REDIS_PASSWORD}
    networks:
      - internal

volumes:
  document_data:
  document_log:
  document_cache:
  document_files:
  document_fonts:
  document_forgotten:
  postgresql_data:
  redis_data:

networks:
  internal:
  traefik-public:
    external: ${ENABLE_TRAEFIK:-false}
    name: ${TRAEFIK_NETWORK:-traefik-public}