services:
  nextcloud:
    image: nextcloud:apache
    env_file:
     - ./.env
    volumes:
      - nextcloud_data:/var/www/html
    environment:
      - MYSQL_HOST=db
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - REDIS_HOST=redis
      - APACHE_SERVER_NAME=${CUSTOM_SUBDOMAIN:-nextcloud}.${BASE_DOMAIN}
      - NEXTCLOUD_TRUSTED_DOMAINS=${CUSTOM_SUBDOMAIN:-nextcloud}.${BASE_DOMAIN}
      - TRUSTED_PROXIES=${TRUSTED_PROXIES}
    depends_on:
      - db
      - redis
    networks:
      - internal
      - traefik-public
    labels:
      - traefik.enable=${ENABLE_TRAEFIK:-false}
      - traefik.docker.network=traefik-public
      - traefik.http.routers.nextcloud.rule=Host(`${CUSTOM_SUBDOMAIN:-nextcloud}.${BASE_DOMAIN}`)
      - traefik.http.routers.nextcloud.entrypoints=web
      - "${HTTPS_MIDDLEWARE:+traefik.http.routers.nextcloud.middlewares=${HTTPS_MIDDLEWARE}}"
      - traefik.http.routers.nextcloud-secure.rule=Host(`${CUSTOM_SUBDOMAIN:-nextcloud}.${BASE_DOMAIN}`)
      - traefik.http.routers.nextcloud-secure.entrypoints=${HTTPS_ENTRYPOINT:-}
      - traefik.http.routers.nextcloud-secure.tls=${ENABLE_TLS:-}"
      - traefik.http.routers.nextcloud-secure.tls.certresolver=${TLS_RESOLVER:-}
      - traefik.http.services.nextcloud.loadbalancer.server.port=80
      - "${REDIRECT_SCHEME:+traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=${REDIRECT_SCHEME}}"
      - "${REDIRECT_PERMANENT:+traefik.http.middlewares.redirect-to-https.redirectscheme.permanent=${REDIRECT_PERMANENT}}"
      - traefik.http.middlewares.nextcloud-header.headers.customFrameOptionsValue=SAMEORIGIN
      - traefik.http.middlewares.nextcloud-header.headers.stsSeconds=15552000
      - traefik.http.middlewares.nextcloud-header.headers.forceSTSHeader=true
      - traefik.http.routers.nextcloud-secure.middlewares=nextcloud-header

  db:
    image: mariadb:10.6
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - internal
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}

  redis:
    image: redis:alpine
    volumes:
      - redis_data:/data
    networks:
      - internal

volumes:
  nextcloud_data:
  db_data:
  redis_data:

networks:
  internal:
  traefik-public:
    external: ${ENABLE_TRAEFIK:-false}
    name: ${TRAEFIK_NETWORK:-traefik-public}