services:
  ghost:
    image: ghost:5-alpine
    depends_on:
      - mysql
    networks:
      - traefik-public  # Keep traefik network for external access
      - internal
    environment:
      # see https://ghost.org/docs/config/#configuration-options
      database__client: mysql
      database__connection__host: mysql
      database__connection__user: "${MYSQL_USER}"
      database__connection__password: "${MYSQL_PASSWORD}"
      database__connection__database: "${MYSQL_DATABASE}"
      # this url value is just an example, and is likely wrong for your environment!
      url: "${HTTP_SCHEME}://${CUSTOM_SUBDOMAIN:-ghost}.${BASE_DOMAIN}"  # Update to use HTTPS
      # contrary to the default mentioned in the linked documentation, this image defaults to NODE_ENV=production (so development mode needs to be explicitly specified if desired)
      NODE_ENV: production
      privacy__useUpdateCheck: false
      # This tells Ghost to trust the X-Forwarded-Proto header from Traefik
      url_base: "${HTTP_SCHEME}://${CUSTOM_SUBDOMAIN:-ghost}.${BASE_DOMAIN}"
      server__host: "0.0.0.0"
      server__port: 2368
      trust_proxy: true
    volumes:
      - ./data/ghost:/var/lib/ghost/content
    labels:
      - traefik.enable=${ENABLE_TRAEFIK:-false}
      - traefik.docker.network=traefik-public
      - traefik.http.services.ghost-service.loadbalancer.server.port=2368
      - traefik.http.routers.ghost.rule=Host(`${CUSTOM_SUBDOMAIN:-ghost}.${BASE_DOMAIN}`)
      - traefik.http.routers.ghost.entrypoints=web
      - "${HTTPS_MIDDLEWARE:+traefik.http.routers.ghost.middlewares=${HTTPS_MIDDLEWARE}}"
      - traefik.http.routers.ghost-secure.rule=Host(`${CUSTOM_SUBDOMAIN:-ghost}.${BASE_DOMAIN}`)
      - traefik.http.routers.ghost-secure.entrypoints=${HTTPS_ENTRYPOINT:-}
      - traefik.http.routers.ghost-secure.tls=${ENABLE_TLS:-}"
      - traefik.http.routers.ghost-secure.tls.certresolver=${TLS_RESOLVER:-}
      - traefik.http.routers.ghost-secure.service=ghost-service
      - "${REDIRECT_SCHEME:+traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=${REDIRECT_SCHEME}}"
      - "${REDIRECT_PERMANENT:+traefik.http.middlewares.redirect-to-https.redirectscheme.permanent=${REDIRECT_PERMANENT}}"

  mysql:
    image: mysql:8.0
    networks:
      - internal  # Only internal network needed for DB
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - ./data/mysql:/var/lib/mysql

networks:
  internal:
  traefik-public:
    external: ${ENABLE_TRAEFIK:-false}
    name: ${TRAEFIK_NETWORK:-traefik-public}
