services:
  homer:
    image: b4bz/homer:latest
    env_file:
     - ./.env
    container_name: homer
    volumes:
      - ./config:/www/assets
    environment:
      - INIT_ASSETS=1  # Only needed on first run
    networks:
      - traefik-public
    labels:
      - traefik.enable=${ENABLE_TRAEFIK:-false}
      - traefik.docker.network=traefik-public
      - traefik.http.routers.homer.rule=Host(`${CUSTOM_SUBDOMAIN:-dashboard}.${BASE_DOMAIN}`)
      - traefik.http.routers.homer.entrypoints=web
      - "${HTTPS_MIDDLEWARE:+traefik.http.routers.homer.middlewares=${HTTPS_MIDDLEWARE}}"
      - traefik.http.routers.homer-secure.rule=Host(`${CUSTOM_SUBDOMAIN:-dashboard}.${BASE_DOMAIN}`)
      - traefik.http.routers.homer-secure.entrypoints=${HTTPS_ENTRYPOINT:-}
      - traefik.http.routers.homer-secure.tls=${ENABLE_TLS:-}"
      - traefik.http.routers.homer-secure.tls.certresolver=${TLS_RESOLVER:-}
      - traefik.http.services.homer.loadbalancer.server.port=8080
      - "${REDIRECT_SCHEME:+traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=${REDIRECT_SCHEME}}"
      - "${REDIRECT_PERMANENT:+traefik.http.middlewares.redirect-to-https.redirectscheme.permanent=${REDIRECT_PERMANENT}}"
    restart: unless-stopped

networks:
  traefik-public:
    external: ${ENABLE_TRAEFIK:-false}
    name: ${TRAEFIK_NETWORK:-traefik-public}